.venv
codes/export_phenotypes/ukb_category_*
codes/ukb_showcase_webscrape/ukb_category_*
wes_analyses/subset_vcfs/*
wes_analyses/subset_vcfs/
wes_analyses/subset_vcfs/
README_tmp.md
gwas_analyses/*
wes_analyses/data/females_diseases_nervous_system.csv
wes_analyses/data/males_diseases_nervous_system.csv
wes_analyses/1_get_block_per_chr.md
wes_analyses/2_extract_pos_per_block.sh
wes_analyses/3_check_file_exists.py
wes_analyses/4_sort.sh
wes_analyses/5_run_extract_block_ranges.sh
wes_analyses/data/archived
wes_analyses/results/*
